*, ::before, ::after {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins , 'Arial' , 'sans-serif';
    height: 100vh;
}

.container1 {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


}

/* Navigation */

nav {
    position: fixed;
    

    width: 100%;
    height: 75px;

    background: white;

    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav h2 {

    font-size: 26px;
 
    margin-right: auto;
}
.b2{
    color: black;
}
.b1 {
    color: white;
}
nav ul {
    list-style-type: none;
}

nav ul li {

    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    display: block; /* car de base les pseudos-éléments sont de type inline*/

    width: 0px;
    height: 2px;

    margin: 0 auto 0 auto;
    
    border-radius: 2px;
    
    background: #04188a;
    transition: width 0.2s ease-out;
}

nav ul li a:hover::after {
    width: 80%;
}
nav ul li a:hover {
    color: #04188a;
}


nav .connection {

    /* position: relative;
    top: -2px; */
    
    width: 180px;
    height: auto;
    padding: 10px 0;
    margin-left: auto;
    border: none;
    border-radius: 4px;

    outline: none;
    background: linear-gradient(84.12deg, #1d076b -24.93%, #504dec 139.25%);

    color: white;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

nav .connection:hover {

    background: linear-gradient(84.12deg, #9271E8 139.25%, #060881 -24.93%) ;

}


/* Hamburger anim */

nav .hamburger-menu{

    display: none;

    position: absolute;
    top: 10px;
    right: 20px;

    width: 40px;
    height: 42px;

    cursor: pointer;

}

nav .hamburger-menu .slice {

    position: absolute;

    width: 100%;
    height: 4px;

    background: #000;
    border-radius: 4px;

    
    transition: all 0.5s ease-in-out;
    
}

nav .hamburger-menu .slice:nth-child(1) {

    top: 5px;
    
}
nav .hamburger-menu .slice:nth-child(2) {

    top: 18px;
    
}
nav .hamburger-menu .slice:nth-child(3) {

    top: 31px;
    
}

nav .hamburger-menu.active .slice:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);

}
nav .hamburger-menu.active .slice:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);

}
nav .hamburger-menu.active .slice:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);

}



/* Hero Section */

.section-hero {

    position: relative;
    margin-top: 90px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hero-gauche {

    max-width: 700px;
}



.hero-gauche h1 strong {

    color: #04188a;
}

.hero-gauche p {

    margin-top: 10px;
    font-size: 1.3em;
}

.hero-gauche input {
    

    width: 300px;

    margin-top: 40px;
    padding: 7px;

    font-size: 20px;

    border: 1px solid #333;
    outline: none;
    border-radius: 4px;

}

.hero-gauche input:focus {

    border: 1px solid #9271E8;
}

.hero-gauche button {

    position: relative;
    left: 20px;

    width: 150px;
    height: auto;
    padding: 10px;

    border: none;
    border-radius: 4px;

    outline: none;
    background: linear-gradient(84.12deg, #522FCF -24.93%, #9271E8 139.25%);

    color: white;

    font-size: 18px;

     cursor: pointer;

}
.hero-gauche button:hover {

    background: linear-gradient(84.12deg, #9271E8 139.25%, #522FCF -24.93%) ;

}


.hero-droite {
    max-width: 700px;
}

.hero-droite img {
    margin-top: 25px;
    width: 900px;
}


/* Medias Queries */

@media screen and (max-width: 1350px) {

    .section-hero {

        margin-top: 150px;
    }
}

@media screen and (max-width: 850px) {
    .hero-gauche h1 {
        font-size: 55px;
    }
    /* Navigation */

    nav {
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {

        display: block;
        margin: 15px 0;
        text-align: center;
    }

    nav h2,
    nav .navbar,
    nav .connection {

        position: relative;
        top: 75px;
        margin: 0;
        display: none;
    }

    nav .hamburger-menu {
        display: block;
        
    }
    nav .bc{
        width: 100%;
        background-color: white;
        height: 60px;
    }


    nav.active {
        padding-bottom: 100px;
    }

    nav.active h2,
    nav.active .navbar,
    nav.active .connection {
    
        position: relative;
        top: 75px;
    
        display: block;
    }

    /* Hero */

    

    .section-hero{
        width: 90%;
        margin: 0 auto;
        margin-top: 100px
    }

    .hero-gauche h1 {
        font-size: 60px;
    }

}


@media screen and (max-width: 480px) {

    

    .hero-gauche h1 {
        font-size: 50px;
    }

    .hero-gauche p {

        font-size: 18px;
    }


    .hero-gauche form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-gauche button {

        margin-top: 10px;
    }
}

@media screen and (max-width: 390px) {
    
    .section-hero{
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .hero-gauche h1 {
        font-size: 40px;
    }
}